:root {
    --color-emphasis:       #5680e9;
    --color-emphasis-alt:   #a082d8;
    --color-background:     #afdaeb;
    --color-background-alt: #5ab9ea;
    --color-text-emphasis:  #ffffff;
    --color-text-content:     #303030;
    --color-text-link:      #ffffff;
}