:root {
    --color-emphasis:       #e7717d;
    --color-emphasis-alt:   #857165;
    --color-background:     #c2cad0;
    --color-background-alt: #c2b9b0;
    --color-text-emphasis:  #ffffff;
    --color-text-content:     #303030;
}