.main-canvas {
    display: flex;
    height: 100vh;
}

.screen-content {
    background-color: var(--color-background);
    background-image: url("../images/bg5.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: auto;
}

.screen-description {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    height: 100%;
    overflow: auto;
}

.screen-content__main-panel {
    display: flex;
    flex-direction: row;
    margin: 150px 170px 150px calc(170px + 65px);
}

.screen-content__selected-screen {
    transition: opacity 0.25s ease-in 0.25s;
    opacity: 1;
}

.screen-content__selected-screen--hidden {
    transition-delay: 0s;
    opacity: 0;
}

.screen-content__text-panel {
    background-color: var(--color-background-alt);
    padding: 20px;
    width: 100%;
    margin-right: 20px;
    color: var(--color-text-content); 
}

.screen-content__right-panel {
    padding: 20px;
    background-color: var(--color-background-alt);
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.screen-content__arrow-container {
    padding: 10px;
    display: flex;
    align-items: center;
}

.screen-content__arrow-icon {
    vertical-align: middle;
    color: var(--color-background);
}

.image-square {
    max-width: 240px;
    max-height: 240px;
}

.image-rectangular-big {
    max-width: 320px;
    margin: 10px 0 10px 0;
}

.screen-content__personal-data-container {
    display: flex;
    flex-direction: row;
}

.screen-content__personal-data-column {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.screen-content__personal-data-icon {
    height: 15px;
    padding: 3px;
    font-size: 11px;
}

.screen-content__text-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 60px;
}

.screen-content__text-description {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    text-align: justify;
    padding-bottom: 20px;
}

.screen-content__arrow-button {
    background-color: Transparent;
    cursor: pointer;
    outline: none;
    border: none;
}