/* TODO: No camel case */
.sidebar {
    transition: width 1s ease-in;
    overflow-x: hidden;
    position: absolute;
    background-color: var(--color-emphasis);
    transition: width 0.5s ease-in 0.25s;
    height: 100vh;
    width: 80px;
}

.sidebar--expanded {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    width: 300px;
}

.sidebar-item__button {
    background-color: Transparent;
    cursor: pointer;
    outline: none;
    border: none;
    width: 100%;
    padding: 10px 15px 10px 15px;
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
}

.sidebar-item__button--clicked {
    background-color: #bfbfbf50;
}

.sidebar-item__button-text {
    white-space: nowrap;
    padding-left: 10px;
    margin: auto 0 auto 0;
    color: var(--color-text-emphasis);
    font-family: 'Calibri', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: x-large;
    transition: opacity 0.25s ease-in 0s;
    opacity: 0%;
}

.sidebar-item__button-text--expanded {
    transition-delay: 0.5s;
    transition-timing-function: ease-out;
    opacity: 100%;
}

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
}