.sideBar {
    transition: width 1s ease-in;
    overflow-x: hidden;
}

.sideBarItemClicked {
    background-color: #bfbfbf50;
}

.sideBarItem button,
.sideBarItemClicked button {
    background-color: Transparent;
    cursor: pointer;
    outline: none;
    width: 100%;
    padding: 10px 15px 10px 15px;
    margin: 10px 0 10px 0;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.sideBarItem button div,
.sideBarItemClicked button div {
    padding-left: 10px;
    margin: auto 0 auto 0;
    color: var(--color-text-emphasis);
    font-family: 'Calibri', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: x-large;
}

.sideBar {
    /* background-image: url("../images/red.png");
    background-repeat: repeat; */
    background-color: var(--color-emphasis);
    transition: width 1s ease-in;
    width: 90px;
}

.sideBarExpanded {
    width: 400px;
}

.sideBar button {
    background-color: Transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 15px;
}

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
}